In [20]:
import pandas as pd
import numpy as np

In [3]:
#Task 1
# Create series
lm = pd.Series({"Africa": 11506, "Antarctica":5500, "Asia": 16988, "Australia": 2968,
"Europe": 3745, "North America": 9390, "South America": 6795})
print(lm)

Africa           11506
Antarctica        5500
Asia             16988
Australia         2968
Europe            3745
North America     9390
South America     6795
dtype: int64

In [4]:
#Add new values
lm = lm.append(pd.Series({"Eurasia": lm["Asia"]+lm["Europe"],
"Americas": lm["North America"]+lm["South America"]}))

#Delete values
lm = lm.drop(["Asia", "Europe", "North America", "South America"])
print(lm)

Africa        11506
Antarctica     5500
Australia      2968
Eurasia       20733
Americas      16185
dtype: int64

In [9]:
#Task 2
ws_temp = pd.Series({"Jan": 4.0, "Feb": 4.7, "Mar": 6.1,
"Apr": 7.3, "May": 11.3, "Jun": 12.7,
"Jul": 13.4, "Aug": 13.2, "Sep": 11.6,
"Oct": 10.2, "Nov": 4.9, "Dec": 3.5})

In [11]:
print(ws_temp["Jun":"Aug"])

Jun    12.7
Jul    13.4
Aug    13.2
dtype: float64

In [12]:
print(ws_temp.median())

8.75

In [13]:
print(ws_temp.nsmallest(3))
print(ws_temp.nlargest(3))

Dec    3.5
Jan    4.0
Feb    4.7
dtype: float64
Jul    13.4
Aug    13.2
Jun    12.7
dtype: float64

In [15]:
print(ws_temp.idxmin())

Dec

In [18]:
print(ws_temp.sort_values()[2:-2].mean())

8.6

In [10]:
#Task 3
#Create a dataframe

cider = pd.DataFrame({"Supermarket": ["Sainsbury's", "Tesco", "Iceland"],
"Product": ["Bulmers 8x500ml", "Scrumpy Jack 4x400ml", "Frosty Jack 3L"],
"Price": [8, 3.75, 3.69]})

In [12]:
# Add new row for Strongbow
cider = cider.append(pd.Series({"Supermarket": "Asda", "Product": "Strongbow 12x440ml","Price": 9}),ignore_index=True)

In [14]:
# Add UK units
cider["Units"] = [ 18.4, 10.4, 22.5, 26.4 ]
# Add minimum price
cider["MinimumPrice"] = cider["Units"] * 0.5

In [16]:
# Add new price - Answer II
cider["NewPrice"] = cider["Price"].where(cider["Price"] > cider["MinimumPrice"],
cider["MinimumPrice"])

In [17]:
print(cider)

   Supermarket               Product  Price  Units  MinimumPrice  NewPrice
0  Sainsbury's       Bulmers 8x500ml   8.00   18.4          9.20      9.20
1        Tesco  Scrumpy Jack 4x400ml   3.75   10.4          5.20      5.20
2      Iceland        Frosty Jack 3L   3.69   22.5         11.25     11.25
3         Asda    Strongbow 12x440ml   9.00   26.4         13.20     13.20

In [18]:
# Delete Iceland Frosty Jack
cider = cider.drop(2)
print(cider)

   Supermarket               Product  Price  Units  MinimumPrice  NewPrice
0  Sainsbury's       Bulmers 8x500ml   8.00   18.4           9.2       9.2
1        Tesco  Scrumpy Jack 4x400ml   3.75   10.4           5.2       5.2
3         Asda    Strongbow 12x440ml   9.00   26.4          13.2      13.2

In [21]:
#Task 4 Create a data frame of random numbers
x = pd.DataFrame(np.random.choice(range(-5, 6), (4,3), 
                                  replace=True), index=["ra", "rb", "rc", "rd"], columns=["ca", "cb", "cc"])

In [26]:
#Substract the mean for each column
c_means = x.mean()
x1 = x - c_means
print(x1.sum())

ca    0.0
cb    0.0
cc    0.0
dtype: float64

In [27]:
r_means = x.mean(axis = 1)
x2 = x.sub(r_means, axis = 1)
print(x2.sum(axis = 1))

ra    0.0
rb    0.0
rc    0.0
rd    0.0
dtype: float64

In [28]:
#Task 5
cities = pd.DataFrame({ "name": ["Aberdeen", "Dundee", "Edinburgh", "Glasgow","Inverness", "Perth", "Stirling"],
                       "population": [ 196670, 148270, 464990, 621020,63780, 47180, 94000 ] ,
                       "charter": [ "1179", "1191", "1125", "1170s","1200s", "1200s", "1200s" ] })

In [31]:
for rowname, rowdata in cities.iterrows():
    population = rowdata["population"]
    print(f"The population of the city {rowname} is {population}.")

The population of the city 0 is 196670.
The population of the city 1 is 148270.
The population of the city 2 is 464990.
The population of the city 3 is 621020.
The population of the city 4 is 63780.
The population of the city 5 is 47180.
The population of the city 6 is 94000.

In [34]:
#Task 7
footprint = pd.read_csv("footprint.csv")
print(footprint.head())

                 Source  kgCO2  sqmyear  Vegetarian  Vegan
0      Beef (beef herd)   50.0    164.0       False  False
1         Lamb & Mutton   20.0    185.0       False  False
2     Beef (dairy herd)    7.0     22.0       False  False
3  Crustaceans (farmed)   18.0      2.0       False  False
4                Cheese   11.0     41.0        True  False

In [35]:
print(footprint.query("Vegan ==True "))

          Source  kgCO2  sqmyear  Vegetarian  Vegan
9           Tofu    2.0      2.2        True   True
10    Groundnuts   12.0      3.5        True   True
11  Other Pulses    0.8      7.3        True   True
12          Peas    0.5      3.4        True   True
13          Nuts    0.5      7.9        True   True
14        Grains    2.7      4.6        True   True

In [36]:
#Task 8
footprint = footprint.eval("Nonvegetarian = not Vegetarian")
print(footprint)

                  Source  kgCO2  sqmyear  Vegetarian  Vegan  Nonvegetarian
0       Beef (beef herd)   50.0    164.0       False  False           True
1          Lamb & Mutton   20.0    185.0       False  False           True
2      Beef (dairy herd)    7.0     22.0       False  False           True
3   Crustaceans (farmed)   18.0      2.0       False  False           True
4                 Cheese   11.0     41.0        True  False          False
5               Pig Meat    7.6     11.0       False  False           True
6          Fish (farmed)    6.0      3.7       False  False           True
7           Poultry Meat    5.7      7.1       False  False           True
8                   Eggs    4.2      2.2        True  False          False
9                   Tofu    2.0      2.2        True   True          False
10            Groundnuts   12.0      3.5        True   True          False
11          Other Pulses    0.8      7.3        True   True          False
12                  Peas    0.5      3.4        True   True          False
13                  Nuts    0.5      7.9        True   True          False
14                Grains    2.7      4.6        True   True          False